<!-- form.html -->
{{ define "content" }}
<div class="form-container">
    <h2>Submit User Form</h2>
    <form action="/form" method="POST" class="user-form">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="firstName" name="FirstName" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="lastName" name="LastName" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="Email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="number_of_tickets">Number of Tickets</label>
            <input type="number" id="number_of_tickets" name="NumberOfTickets" class="form-control" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{{ end }}

{{ template "base.html" . }}

